.primary-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
    background: #F6B213;
    padding: 17px 20px 14px;
    border-radius: 32px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    @include trans;

    &:hover {
        background: #eaa70a;
        
        .btn-arrow {
            transform: translateX(-10px);
            @include trans;
        }
    }

    &.white {
        background-color: #fff;
        color: #231F20;
    }

    &-header {

        a {
            display: flex;
            background: #F6B213;
            padding: 12px 20px 8px;
            font-size: 14px;
            border-radius: 32px;
            color: #fff;
            font-weight: bold;
            @include trans;
            
            @media #{$md-up} {
                font-size: 16px;
                padding: 14px 42px 8px;
            }
        
            &:hover {
               background: #eaa70a;
            }
        }
    }

    .btn-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
    }
}