.site {

    &-header {
        position: sticky;
        top: 0;
        padding: 20px 0;
        background-color: #fff;
        z-index: 2;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before,
            &::after {
                content: none;
            }
        }
    }

    &-logo {

        img {
            width: 54px;
        }
    }
}