#primary-menu {
    display: none;

    @media #{$sm-up} {
        display: grid;
        grid-column-gap: 24px;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        justify-items: center;
    }
    
    @media #{$md-up} {
        margin-left: 155px;
    }
}

#footer-menu {
    display: grid;
    grid-row-gap: 80px;
    margin-top: 75px;
    text-align: center;
    
    @media #{$md-up} {
        grid-column-gap: 40px;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        justify-content: start;
        margin-left: 30px;
        margin-top: 90px;
        text-align: left;
    }
    
    @media #{$lg-up} {
        grid-column-gap: 120px;
    }
}