.social {

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 10px;

            @media #{$sm-up} {
                margin-right: 20px;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $white;
            background: #fff;
            border-radius: 50%;
            width: 24px; height: 24px;
            @include trans;

            @media #{$sm-up} {
                width: 32px; height: 32px;
            }
            
            &:hover {
                background: transparent;

                i {
                    color: #fff;
                }
            }

            i {
                color: #231F20;
            }
        }
    }
}
