// Home page - header section

@function calc-left($index, $offset: 32px) {
    @return $index * $offset;
}

.header {
    position: relative;
    margin-top: 36px;
    background: #FFFCF1;
    
    @media #{$md-up} {
        margin-top: 94px;
    }

    &-title {
        font-size: 48px;
        margin-bottom: 16px;
        text-align: center;
        
        @media #{$md-up} {
            margin-bottom: 26px;
            text-align: left;
            font-size: 79px;
        }
    }
    
    &-text {
        text-align: center;
        
        @media #{$md-up} {
            text-align: left;
            padding-right: 180px;
            line-height: 24px;
            margin-bottom: 38px;
        }
    }

    .primary-btn {
        margin: 40px auto 0;
        
        @media #{$md-up} {
            margin: 0;
        }
    }

    &-image {
        position: relative;
        max-height: 744px;
        margin-top: 56px;
        margin-left: -22px;
        z-index: 1;
        
        @media #{$phone-up} {
            margin-left: -24px;
            left: calc(50% - 224px);
        }

        @media #{$sm-up} {
            left: calc(50% - 224px);
            max-height: 744px;
            margin-left: -24px;
            margin-top: 56px;
            z-index: 1;
        }
        
        @media #{$md-up} {
            margin-top: 0;
            max-height: 817px;
            margin-left: 17px;
        }
    }

    &-circles {
        position: absolute;
        top: 396px;
        right: -26px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 12px;
        column-gap: 16px;
        z-index: 0;
        
        @media #{$md-up} {
            top: -10px;
            right: 46px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 32px;
            column-gap: 40px;
        }
    }

    &-circle {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: #F6B213;
        opacity: 0;
        transform: scale(0);

        @media #{$md-up} {
            width: 152px;
            height: 152px;
        }
        
        &.one {
            animation: popUp 0.5s forwards 0.5s;
        }
        
        &.two {
            animation: popUp 0.5s forwards 1s;
        }
        
        &.three {
            animation: popUp 0.5s forwards 1.5s;
        }
        
        &.four {
            animation: popUp 0.5s forwards 2s;
        }
    }

    &-card {
        position: relative;
        margin-top: 92px;
        padding: 26px 32px;
        max-width: 400px;
        min-height: 200px;
        background-color: #fff;
        border-radius: 32px;
        box-shadow: 0px 4px 30px 0px #0000001A;
        z-index: 1;

        &.mobile {
            display: block;
            margin: 2px auto 0;

            @media #{$md-up} {
                display: none;
            }
        }

        &.desktop {
            display: none;

            @media #{$md-up} {
                display: block;
            }
        }

         
        h3 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }

        &-images {
            position: relative;
        }

        &-image {
            position: absolute;
            top: 0;
            width: 70px;
            height: 70px;
            background: #00393A;
            box-shadow: inset 0 0 0 2px #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @for $i from 1 through 5 {
                &:nth-of-type(#{$i}) {
                    left: calc-left($i - 1);
                }
            }

            &-text {
                color: #fff;
                line-height: 12px;
                letter-spacing: -0.03em;
                text-align: center;
            }
        }
    }

    &-background-image {
        position: relative;
        background-position: center center;
        background-size: cover;
        min-height: 600px;
        border-radius: 48px;
        width: calc(100% - 16px);
        margin: -712px 8px 0;
        z-index: 0;
        
        @media #{$md-up} {
            min-height: 500px;
            width: calc(100% - 32px);
            margin: -232px 16px 0;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 91, 93, 0.9) 0%, rgba(246, 178, 19, 0.9) 100%);
            mix-blend-mode: multiply;
            border-radius: 48px;
        }
    }
}



@keyframes popUp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}