// Home page - Join two section
.join-two {
    background: #00393A;
    margin-top: 77px;
    padding: 64px 0 124px;
    
    @media #{$md-up} {
        margin-top: 120px;
        padding: 70px 0 80px;
    }
    
    &-title {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 8px;
        text-align: center;
        
        @media #{$md-up} {
            text-align: left;
            max-width: 350px;
        }
    }
    
    &-text {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        max-width: 550px;
        margin: 0 auto 26px;
        text-align: center;
        
        @media #{$md-up} {
            margin: 0 0 40px;
            text-align: left;
        }
    }

    .primary-btn {
        margin: 0 auto;

        @media #{$md-up} {
            margin: 0;
        }
    }
    
    &-image {
        position: relative;
        top: 64px;
        right: 16px;
        max-width: 479px;
        z-index: 1;
        
        @media #{$sm-up} {
            position: relative;
            margin-left: calc(50% - 240px);
        }
        
        @media #{$md-up} {
            position: absolute;
            top: -220px;
            right: -120px;
            max-width: 745px;
        }
    }
    
    &-circles {
        position: absolute;
        top: 65px;
        left: -10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 11px;
        column-gap: 12px;
        z-index: 0;
        
        @media #{$md-up} {
            position: absolute;
            top: -24px;
            right: -180px;
            left: auto;
        }
    }
    
    &-circle {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transform: scale(0);
        
        @media #{$md-up} {
            width: 68px;
            height: 68px;
        }
        
        &.one {
            animation: popUpJoin 0.5s forwards 0.5s;
        }

        &.two {
            animation: popUpJoin 0.5s forwards 1s;
        }

        &.three {
            animation: popUpJoin 0.5s forwards 1.5s;
        }

        &.four {
            animation: popUpJoin 0.5s forwards 2s;
        }

        &.five {
            animation: popUpJoin 0.5s forwards 2.5s;
        }

        &.six {
            animation: popUpJoin 0.5s forwards 3s;
        }
    }
}

@keyframes popUpJoin {
    to {
        opacity: 0.1;
        transform: scale(1);
    }
}