html {
    color: #231F20;

    font: #{$font-global} / #{$line-height-global} 'Campton', sans-serif;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    line-height: 1.2;
    margin: 0;

    @media #{$sm-up} {
        line-height: 1.1;
    }
}

h6 {
    font-size: $h6;
}

h5 {
    font-size: $h5;
}

h4 {
    font-size: $h4;
}

h3 {
    font-size: $h3;
}


h2 {
    font-size: $h2;
}

h1 {
    font-size: $h1;
}

p {
    margin: 0 0 10px;
}

body {

    #page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        #content {
            flex: 1;

            @include ie {
                flex-basis: auto;
            }

            // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            //
            //     flex-basis: auto;
            // }
            //
            // @supports (-ms-ime-align:auto) {
            //
            //     flex-basis: auto;
            // }
        }
    }
}
